.div {
    width: 100%;
}
  
.list {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    padding: 12px;
    margin: 8px auto;
}

  
.input {
    width: 20px;
    height: 20px;
    accent-color: rgb(0, 51, 255);
}
  
.span {
    font-size: 14px;
    padding: 0 8px;
    flex: 1;
}
  
.button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 14px;
}